/* ===== BASE ===== */
:root {
  --main-bg: rgb(238, 238, 238);
  --button-bg: rgb(48, 110, 211);
  --text-color: rgb(104, 104, 104);
 }
 
 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-size: 1rem;
 }
 
 html {
   background-color: var(--main-bg);
 }
 
 a {
   text-decoration: none;
 }
 
 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }
 
 /* ===== Header ===== */
 header {
   background-color: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 6rem;
   padding-top: 1rem;
   z-index: 10;
 }
 
 .header-container {
   width: 100%;
   height: 100%;
   padding-left: 1rem;
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 10px;
   flex-wrap: nowrap;
   border-bottom: 1px solid var(--text-color);
   color: var(--text-color);
 }
 
 #filtering-css {
   color: rgb(66, 135, 245);
   border: 1px solid rgb(66, 135, 245);
 }
 
 .header-container .header-li {
   border: 1px solid var(--text-color);
   border-radius: 5rem;
   padding: 0.5rem;
 }
 
 .header-container .header-icon {
   padding-right: 4px;
 }
 
 
 /* ===== Main ===== */
 main {
   background-color: var(--main-bg);
   width: 100%;
   height: 100%;
   margin-top: 6rem;
   margin-bottom: 6rem;
 }
 
 .main-container {
   padding: 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 1rem;
 }
 
 .link-article {
   width: 100%;
 }
 
 article {
   width: 100%;
   height: 20vw;
   display: grid;
   grid-template-rows: 1fr 20px;
   row-gap: 1rem;
   padding: 1rem;
   border-radius: 10px;
   color: black;
   background-color: white;
 }
 
 .article-top {
   display: grid;
   grid-template-columns: 1fr 20px;
   column-gap: 1rem;
 }
 
 .article-top button {
   border: none;
   background-color: white;
   color: var(--main-bg);
   /* rgb(255, 180, 35) */
 }
 
 .article-bottom {
   position: relative;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
 }
 
 .article-origin {
   display: flex;
   column-gap: 1rem;
 }
 
 .article-date {
   position: absolute;
   bottom: 0;
   right: 0;
   color: var(--text-color);
 }
 
 
 /* ===== Footer ===== */
 .main-footer {
   background-color: black;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 6rem;
   border-radius: 3rem 3rem 0 0;
   z-index: 10;
 }
 
 .footer-container {
   height: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   align-content: center;
   border-top-right-radius: 3rem;
   border-top-left-radius: 3rem;
 }
 
 .footer-container li {
   color: white;
   opacity: 0.5;
   display: flex;
   flex-direction: column;
   row-gap: 5px;
   align-items: center;
   font-size: 0.8rem;
 }
 
 .footer-container .footer-icon {
   font-size: 1.5rem;
 }
 
 /* ===== Loading Component ===== */
 .loading-container {
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 
 /* ===== Response 500 ===== */
 @media screen and (max-width: 500px){
   article {
     height: 30vw;
     grid-template-rows: 1fr 50px;
   }
 
   article .article-bottom .article-origin {
     display: flex;
     flex-direction: column;
     row-gap: 0.5rem;
     color: black;
   }
 }
 
 /* ===== Response 430 ===== */
 @media screen and (max-width: 430px){
   article {
     height: 40vw;
   }
 }
 